body {
  background-color: #4E657A;
}

body .index-container nav {
  width: 100%;
  height: 100px;
  background-color: #567086;
  line-height: 100px;
}

body .index-container nav .header {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

body .index-container nav .header > span {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
}

body .index-container nav .header ul {
  display: flex;
  line-height: 35px;
}

body .index-container nav .header ul li {
  display: flex;
  flex-direction: column;
  width: 115px;
  height: 100px;
  padding-top: 20px;
  box-sizing: border-box;
}

body .index-container nav .header ul li:hover span {
  cursor: pointer;
}

body .index-container nav .header ul li:nth-of-type(3) {
  background-color: #ffc107;
}

body .index-container nav .header ul li span {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  font-size: 14px;
}

body .index-container nav .header ul li span:hover .icon {
  color: #ffc107;
}

body .index-container nav .header ul li span .icon {
  font-size: 12px;
}

body .index-container nav .header ul li span i {
  font-size: 17px !important;
}

body .index-container nav .header ul li span i:hover {
  color: #ffc107;
}

body .index-container nav .header ul li .iconfont {
  font-size: 30px;
  color: #ffffff;
}

body .index-container nav .header .header-rigth span {
  color: #ffffff;
}

body .index-container nav .header .header-rigth span:hover {
  color: #ffc107;
  cursor: pointer;
}

body .products {
  width: 1036px;
  margin: 70px auto;
  background-color: #435C70;
  color: #fff;
}

body .products .box {
  padding: 50px;
  box-sizing: border-box;
}

body .products .box .header {
  width: 940px;
  height: 51px;
}

body .products .box .section {
  display: flex;
  justify-content: space-between;
}

body .products .box .section .section-left {
  width: 450px;
  font-size: 16px;
}

body .products .box .section .section-left > div input {
  width: 446px;
  height: 65px;
  background-color: #54657D;
  border: none;
}

body .products .box .section .section-left > div label {
  height: 60px;
  line-height: 60px;
}

body .products .box .section .section-left .note > textarea {
  width: 442px;
  height: 104px;
  background-color: #54657D;
  border: none;
}

body .products .box .section .section-left .list > select {
  width: 446px;
  height: 66px;
  background-color: #54657D;
  border: none;
  color: #A1BAD2;
}

body .products .box .section .section-left .title {
  display: flex;
  justify-content: space-between;
}

body .products .box .section .section-left .title > div {
  width: 205px;
}

body .products .box .section .section-left .title > div input {
  width: 200px;
}

body .products .box .section .section-right {
  width: 450px;
}

body .products .box .section .section-right .section-right-img {
  width: 446px;
  height: 300px;
  background-color: #AAAAAA;
  position: relative;
}

body .products .box .section .section-right .section-right-img > img {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

body .products .box .section .section-right #file-box {
  position: relative;
  padding: 3px 5px;
  height: 45px;
  overflow: hidden;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 45px;
  border: 2px solid #F5A623;
  background-color: #F5A623;
}

body .products .box .section .section-right #file-box #file-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  background-color: transparent;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

body .products .box .section .section-right #file-box:hover {
  cursor: pointer;
  border: 2px solid #F5A623;
  background-color: #394f62;
}

body .products .box .footer {
  width: 940px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  background-color: #F5A623;
  margin-top: 30px;
}

body .products .box .footer :hover {
  background-color: #54657D;
  color: #F5A623;
  border: 1px solid #F5A623;
}
